/*
 * By Alim Ul Karim (SE at Enosis)
 * alim.enosis@gmail.com
 * 
*/
@import "lesshat.less";
@import "variables.less";

@media (min-width:@screen-tablet) {
    /*ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }

    @media (min-width: 979px) {
        ul.nav li.dropdown:hover > ul.dropdown-menu {
            display: block;
        }
    }*/

    .enosis-paitent-menu {
    }
    // if inside desktop
    .enosis-paitent-menu > li {
        .width(188.609px);
        .height(111px);

        /*&.dropdown:hover {
            ul.dropdown-menu {
                display: block;
                .transition(.2s; 'ease-out');
            }
        }*/

        & > a {
            display: block;
            max-width: 100% !important;
            padding: 51px 0 0 0;
            line-height: 44px;
            border-left: 1px solid #d7dce3;
            font-weight: 600;
            background-repeat: no-repeat;
            background-position: center 32%;
            position: relative;
            -webkit-transition: .2s;
            transition: .2s;
            text-align: center;
        }
    }
}
